<div class="col-md-12">

  <h2 class="text-center"> 我发表的影评 </h2>

<table class="table">
  <thead>
    <tr>
      <th> Content </th>
      <th> Film Name </th>
      <th>Last Update </th>
      <th colspan="2"></th>
    </tr>
  </thead>

<tbody>
  <% @reviews.each do |review| %>
  <tr>
         <td> <%= review.content %> </td>
         <td> <%= review.film.title %> </td>
         <td> <%= review.updated_at %> </td>
         <td> <%= link_to('Edit', edit_film_review_path(review.film, review), class: "btn btn-default btn-xs") %></td>
         <td> <%= link_to('Delete', film_review_path(review.film,review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
       </tr>
     <% end %>
</tbody>

</table>

</div>
