<div class="col-md-12">
  <div class="group">
    <%= link_to("New movie", new_film_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
        <tr>
          <td>#</td>
          <td><%= link_to(film.title, film_path(film)) %></td>
          <td><%= render_film_description(film) %></td>
          <td><%= film.user.email %></td>
          <td>
             <% if current_user && current_user == film.user %>
              <%= link_to("Edit", edit_film_path(film), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", film_path(film),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
