<div class="col-md-12">
  <div class="group">

    <%= link_to("Write a Review", new_film_review_path(@film), class: "btn btn-default pull-right")%>

     <% if current_user && current_user == @film.user %>
    <%= link_to("Edit", edit_film_path(@film), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @film.title  %></h2>
<hr/>
  <p><%= @film.description %></p>

    <table class="table">
    <thead>
     <tr>
        <th>影评内容</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.content %></td>
          <td><%= review.user.email %></td>
          <td><%= review.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
